language: python
python:
- 3.6.1
install:
- pip install -r requirements.txt
script:
- python test.py
deploy:
  provider: heroku
  api_key:
    secure: Jsn4myJZrSvRNF2jJuSj4EJkz1VgVv10+ncncDG6Tv4rWWAfL5os3P4lA7KOBcjr1GIurQGuPWHxbr/DX7rFEVLkiTF/uXLyC2VCAfjY16f2y7RJIydvFEQtbH5lJZQXkke23MK134zY91to0PrlmFtRTLPXqG1kXbxGU3m59pa/3kYH3bXstyOo+xMmf8oDD2eljBJ2VuhRYMft4k6zckxkOcpgqKygl8HxoG4jXf+3TibbDvCtTy2vJ9JlhPJdn0BjrHu2M7m3MUzxEoDndd+EDykkKJn9gjHsbz6j1U/VxnfBydm7rDMSddH3E+F7IHsOBDHRhFzQrGgHfGW1XJzkJWXjYGylVYkmQlbbfy/RFMDOjYuBl9AxiTg/X2imAzwFd//yZjPa0El080ywgTy5uIMoI1QWk2lffnHSA138MRf1dvWJkOnED+zVV8UaLDQulUQ08tjODYQtYz+HTsfPx+K2Igrmiq3di12JGzQ6wnD9JE9zaQ5A/cPwlCNqGWYPvu+aalJkshYehsLYOKxakLbQWuZYjuaf+ZLg4MthWJs1ma0YIbQZ2tTZ/iJUlJ37zJwtvTHVV7Mbra80z7qCyo0S5WFS7J3rgnE3CtieluNrd5UfZh+vxTBGN35gyIzTop21xGtTB1vEYQ5Fj8XHGLlo7jFLv9pR+nn0um0=
